name: Deploy to Google Cloud Run

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: arenahub-478013
  REGION: southamerica-east1
  REPO_NAME: arenahub-backend-repo
  IMAGE_NAME: arenahub-backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build --no-cache -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest .

      - name: Push Docker image
        run: |
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.IMAGE_NAME }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest \
            --platform managed \
            --region ${{ env.REGION }} \
            --allow-unauthenticated \
            --set-env-vars="SPRING_PROFILES_ACTIVE=prod, ARENAHUB_FRONTEND_URL_PROD=https://arenahub.app, ARENAHUB_BACKEND_URL_PROD=https://arenahub-backend-694936461161.southamerica-east1.run.app/, ARENAHUB_DB_USER=postgres, ARENAHUB_ZENVIA_SENDER_ID=shard-vertebra, ARENAHUB_ADMIN_EMAIL=arenahub.2025@gmail.com" \
            --set-secrets="ARENAHUB_JWT_SECRET_KEY=ARENAHUB_JWT_SECRET_KEY:latest, ARENAHUB_DB_PASSWORD=ARENAHUB_DB_PASSWORD:latest, ARENAHUB_GMAIL_APP_PASSWORD=ARENAHUB_GMAIL_APP_PASSWORD:latest, ARENAHUB_STRIPE_SECRET_KEY_PROD=ARENAHUB_STRIPE_SECRET_KEY_PROD:latest, ARENAHUB_STRIPE_WEBHOOK_SECRET_PROD=ARENAHUB_STRIPE_WEBHOOK_SECRET_PROD:latest, ARENAHUB_ZENVIA_API_TOKEN=ARENAHUB_ZENVIA_API_TOKEN:latest, ARENAHUB_DB_URL=ARENAHUB_DB_URL:latest, ARENAHUB_STRIPE_PUBLIC_KEY_PROD=ARENAHUB_STRIPE_PUBLIC_KEY_PROD:latest"